PORT=4001

CORS_ORIGIN=http://localhost:5174



#MONGO_URI=mongodb+srv://govindrawani929:govindrawani@cluster0.pxm16ft.mongodb.net/media?appName=Cluster0
MONGO_URI=mongodb+srv://govindrawani929:govindrawani@cluster0.pxm16ft.mongodb.net/Mediaapp?appName=Cluster0


ACCESS_TOKEN_SECRET="dev_access_token_secret"
ACCESS_TOKEN_EXPIRY="1d"
REFRESH_TOKEN_SECRET=dev_refresh_secret
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dhrbfmqrh
CLOUDINARY_API_KEY=265271694586288
CLOUDINARY_API_SECRET=o3OQql49keZU9Z6PNzl3w6iw7qA

REDIS_URL=redis://127.0.0.1:6379
